<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">

	<select id="selectOneMemberByUsrId" parameterType="String" resultType="MemberDTO">
		SELECT
				*
		FROM
				MEMBER
		WHERE
				USER_ID LIKE CONCAT('%', #{userId}, '%')
	</select>
	
	<insert id="insertMember" parameterType="MemberDTO">
		INSERT INTO
				MEMBER (USER_ID, NICK_NAME, SOCIAL_NM, THUMBNAIL_IMG)
		VALUES (
				#{userId}, #{nickName}, #{socialNm}, #{thumbnailImg}
		)
	</insert>
	
	<delete id="deleteMember" parameterType="long">
		DELETE FROM
				MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</delete>

	<select id="selectOneMemberByMemberId" parameterType="Long" resultType="MemberDTO">
		SELECT
				*
		FROM
				MEMBER
		WHERE
				MEMBER_ID = #{memberId}
	</select>
	
	<insert id="insertWishContent" parameterType="Map">
		INSERT INTO WISH_LIST (
				MEMBER_ID,
				CONTENT_ID
		)
		VALUES (
				#{memberId},
				#{contentId}
		)
	</insert>
	
	<delete id="deleteWishContent" parameterType="Map">
		DELETE FROM
				WISH_LIST
		WHERE
				MEMBER_ID = #{memberId} 	AND
				CONTENT_ID = #{contentId}
	</delete>
	
	<select id="selectListNickName" parameterType="String" resultType="MemberDTO">
		SELECT
				*
		FROM
				MEMBER
		WHERE
				NICK_NAME = #{nickName}	
	</select>
	
	<update id="updateNickname" parameterType="MemberDTO">
		UPDATE
				MEMBER
		SET
				NICK_NAME = #{nickName}
		WHERE
				MEMBER_ID = #{memberId}
	</update>
	
	<select id="selectWishCntByMember" parameterType="Long" resultType="Integer">
		SELECT
				COUNT(*)
		FROM
				WISH_LIST
		WHERE
				MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectNetflixWishCntByMemberId" parameterType="Long" resultType="Integer">
		SELECT
 				 COUNT(PLATFORM_ID) AS WISHLISTCOUNT
		FROM
				  CONTENT_LINK
		WHERE
				  PLATFORM_ID = 1 
				  AND CONTENT_ID IN (
			    						SELECT
			      								CONTENT_ID
									    FROM
									      		WISH_LIST
									    WHERE
									      		MEMBER_ID = #{memberId})
	</select>
	
	<select id="selectTvingWishCntByMemberId" parameterType="Long" resultType="Integer">
		SELECT
 				 COUNT(PLATFORM_ID) AS WISHLISTCOUNT
		FROM
				  CONTENT_LINK
		WHERE
				  PLATFORM_ID = 2 
				  AND CONTENT_ID IN (
			    						SELECT
			      								CONTENT_ID
									    FROM
									      		WISH_LIST
									    WHERE
									      		MEMBER_ID = #{memberId})
	</select>
	
	<select id="selectWavveWishCntByMemberId" parameterType="Long" resultType="Integer">
		SELECT
 				 COUNT(PLATFORM_ID) AS WISHLISTCOUNT
		FROM
				  CONTENT_LINK
		WHERE
				  PLATFORM_ID = 3 
				  AND CONTENT_ID IN (
			    						SELECT
			      								CONTENT_ID
									    FROM
									      		WISH_LIST
									    WHERE
									      		MEMBER_ID = #{memberId})
	</select>
	
	<delete id="deleteSubscriptionByMemberId" parameterType="Long">
		DELETE FROM
				SUBSCRIPTION
		WHERE
				MEMBER_ID = #{memberId}
	</delete>

	<insert id="insertSubscription" parameterType="MemberDTO">
		INSERT INTO SUBSCRIPTION (
				MEMBER_ID,
				PLATFORM_ID
		)
		VALUES (
				#{memberId},
				#{platformId}
		)
	</insert>

	<select id="selectListSubscription" resultType="Integer">
		SELECT
				PLATFORM_ID
		FROM 
				SUBSCRIPTION
		WHERE
				MEMBER_ID = #{memberId}
	</select>
	
	<select id="selectOneIsWishContent" parameterType="Map" resultType="long">
		SELECT
				CONTENT_ID
		FROM
				WISH_LIST
		WHERE
				MEMBER_ID = #{memberId},
				CONTENT_ID = #{contentId}
	</select>
	
</mapper>